---
layout: default
permalink: /
---

<div class="Index">
    <div class="slogan">- 每天一篇高质量技术文章 -</div>
    <div class="post-list">
        {% for post in paginator.posts %}
        <div class="Post">
            <h1>{{ post.title_cn }}</h1>
            <div class="post-content">
                {{ post.content | strip_html | truncate: 400 }}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination links -->
    <nav>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&lt;</a>{% endif %} 
        {% if paginator.previous_page %}
            {% if paginator.next_page %}
            <span></span>
            {% endif %}
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&gt;</a> {% endif %}
    </nav>
</div>