.Index {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 0 80px 0;
    .slogan {
    	color: $color-lightgray;
    	text-align: center;
    	font-size: 1.4rem;
        margin-bottom: 40px;
    }
    nav {
        display: flex;
        justify-content: center;
        a {
            display: block;
            width: 40px;
            height: 40px;
            background: white;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAECEE;
            margin: 0 20px;
        }
    }
}
