---
layout: default
---

<div class="Post">
    <h1>{{ page.title_cn }}</h1>
    <div class="date">{{ page.date | date: "%Y年%m月%d日" }} - 原文作者：<a href="">{{ page.author }}{% if page.organization %} at {{ page.organization }}{% endif %}</a></div>
    <div class="post-content">
        {{ content }}
    </div>
    <hr/>
    <div class="original">本文翻译时间 {{page.translate_time }} 分钟 - <a href="{{ page.link }}">阅读原文</a></div>
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = "http://ziyue.io{{ page.url }}"; 
        this.page.identifier = "{{ page.id }}";
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//ziyue-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script> 
    {% endif %}                             
</div>